body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.navbar {
    width: auto;
    background-color: #CBCBCB;
    padding: 10px;
    margin: -10px;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    padding: 5px 55px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item {
    color: black;
    text-decoration: none;
}
.nav-item:hover {
    color: #585858;
}

.nav-item:active {
    color: #666666;
}

#logo {
    width: 50px;
    padding-top: 5px;
}