body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin: 0 auto;
}

.container {
    padding: 50px;
    min-width: 500px;
}

.u-list {
    padding: 0px;

}

.list-item {
    padding: 20px;
    border: 1px solid;
    list-style: none;
    min-width: 500px;
}

.logo-container {
    min-width: 600px;
    padding: 20px 0 20px;
    display: flex;
    justify-content: center;
    background-color: #999999;
}